@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a new Engineer</h2>


@using (Html.BeginForm())
{
  <p>Engineer Name</p>
  @Html.TextBoxFor(model => model.EngineerName)<br><br>

  <p>Age</p>
  @Html.TextBoxFor(model => model.Age)<br><br>

  <p>Phone Number</p>
  @Html.TextBoxFor(model => model.PhoneNumber)<br><br>
  
  <button type="submit" class="btn btn-outline-success" style="width:250px">Add New Engineer</button>
}<br>
@Html.ActionLink("Show all Engineers", "Index", new {id = 0}, new {@class = "btn btn-outline-primary"})