@{
  Layout = "_Layout";
}

@model Factory.Models.Machien
<h4>Add a new machine</h4>
@using (Html.BeginForm())
{
  <p>Machine Name</p>
  @Html.TextBoxFor(model => model.MachienName)<br><br>

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId", "None")<br><br>
  <button type="submit" class="btn btn-outline-success" style="width:250px">Add New Machine</button>
}<br>
<p>@Html.ActionLink("Show all Machiens", "Index", new {id = 0}, new {@class = "btn btn-outline-primary" })</p>