@{
  Layout = "_Layout";
}

@model Factory.Models.Machien

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.MachienName): @Html.DisplayFor(model => model.MachienName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Clients", "Index")