@{
  Layout = "_Layout";
}

@model Factory.Models.Machien;

<h2>Edit this Machine: @Html.DisplayFor(model => model.MachienName)</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachienId)


 <p>Machine Name:</p> @Html.EditorFor(model => model.MachienName)

  <input type="submit" value="Save" class = "btn btn-outline-success" />
}<br>
<p>@Html.ActionLink("Back to Machines", "Index", new {id = 0}, new {@class = "btn btn-outline-success" })</p>