@{
  Layout = "_Layout";
}

<h1>Welcome to the Factory</h1>


<div class="d-grid gap-2">
  <a href='~/Engineers/Index'><button type="button" class="btn btn-lg btn-primary" style="width:150px">See all Engineers</button></a>
  <a href='~/Machiens/Index'><button type="button" class="btn btn-lg btn-primary" style="width:150px">See all Machiens</button></a>
</div>

